<div class="flex justify-center">
  <div class="pt-1 mr-10"
       *ngIf="router.url === '/'">
    <button class="bg-fuchsia-200 p-1 pl-2 pr-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow"
            (click)="onSelected('login')"> Login  </button>
  </div>

  <div class="pt-1">
    <div class="text-2xl font-extrabold text-center">Electric Scooter Service</div>
  </div>

  <div class="pt-1 ml-10" *ngIf="router.url === '/'">
    <button class="bg-fuchsia-200 p-1 pl-2 pr-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow"
            (click)="onSelected('register')"> Register </button>
  </div>

  <div class="pt-1 ml-10" *ngIf="router.url !== '/' && !router.url.includes('password')">
    <button class="bg-fuchsia-200 p-1 pl-2 pr-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow"
            (click)="logout()"> Logout </button>
  </div>
  <div class="pt-1 ml-10" *ngIf="router.url.includes('password')">
    <button class="bg-fuchsia-200 p-1 pl-2 pr-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow"
            (click)="goBack()"> Back </button>
  </div>

</div>
