<div class="top-0 absolute flex flex-col sm:flex-row justify-between items-center bg-black p-4 shadow-lg w-full">

  <div class="flex items-center space-x-4 mb-4 sm:mb-0">
    <img src="favicon.ico" alt="Logo" class="w-12 h-12">
    <div class="text-3xl font-extrabold text-green-500 font-san-serif">E-Scooter</div>
  </div>

  <div class="flex items-center space-x-4">
    <div *ngIf="router.url === '/'">
      <button class="bg-green-500 font-bold text-black py-2 px-4 w-28 rounded-md border-2 border-green-600 hover:bg-green-600 hover:shadow-lg transform hover:-translate-y-1 transition duration-300"
              (click)="onSelected('login')">Login</button>
    </div>
    <div *ngIf="router.url === '/'">
      <button class="bg-green-500 font-bold text-black py-2 px-4 w-28 rounded-md border-2 border-green-600 hover:bg-green-600 hover:shadow-lg transform hover:-translate-y-1 transition duration-300"
              (click)="onSelected('register')">Register</button>
    </div>
    <div *ngIf="router.url !== '/'">
      <button class="bg-green-500 font-bold text-black py-2 px-4 w-28 rounded-md border-2 border-green-600 hover:bg-green-600 hover:shadow-lg transform hover:-translate-y-1 transition duration-300"
              (click)="logout()">Logout</button>
    </div>
  </div>

</div>










