@if (reset==''){
  <form [formGroup]="loginForm">
    <div class="mt-10">
      <label for="username" class=" font-bold text-white">Username: </label>
      <input  id="username" type="text" formControlName="username" required class="w-54 rounded-md shadow">
    </div>
    <br>
    <br>
    <div>
      <label for="password" class=" font-bold text-white">Password: </label>
      <input id="password" type="password" formControlName="password" class="ml-1 w-54 rounded-md shadow">
    </div>
    <div class="flex justify-between mt-10 flex-row">
      <button type="submit"
              class="bg-fuchsia-200 p-1 pl-2 pr-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow"
              (click)="onSubmit()"
      >Login
      </button>
      <button class="bg-fuchsia-200 p-1 pl-2 pr-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow"
              (click)="reset = 'reset'">Forgot password</button>
    </div>
  </form>
} @else {
  <form [formGroup]="resetForm">
    <div class="mt-10">
      <label for="email" class=" font-bold text-white">Email: </label>
      <input  id="email" type="text" formControlName="email" required class="w-54 rounded-md shadow">
    </div>
    <br>
    <br>
    <div class="flex justify-between mt-10 flex-row">
      <button type="submit"
              class="bg-fuchsia-200 p-1 pl-2 pr-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow"
              (click)="onSubmitReset()"
      >Send request
      </button>
      <button class="bg-fuchsia-200 p-1 pl-2 pr-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow"
              (click)="reset = ''">Back</button>
    </div>
  </form>
}










