<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off" class="space-y-6">
    <div class="mt-7 grid grid-cols-1 sm:grid-cols-3 gap-4 items-center">
      <label for="name" class="font-bold text-white">Name:</label>
      <input id="name" type="text" formControlName="name" required class="w-full sm:col-span-2 rounded-md shadow">
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 items-center">
      <label for="email" class="font-bold text-white">Email:</label>
      <input id="email" type="text" formControlName="email" required class="w-full sm:col-span-2 rounded-md shadow">
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 items-center">
      <label for="username" class="font-bold text-white">Username:</label>
      <input id="username" type="text" formControlName="username" required class="w-full sm:col-span-2 rounded-md shadow">
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 items-center">
      <label for="password" class="font-bold text-white">Password:</label>
      <input id="password" type="password" formControlName="passwordHash" required class="w-full sm:col-span-2 rounded-md shadow">
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 items-center">
        <div class="sm:col-span-3 flex justify-center">
          <button type="submit" class="w-full bg-fuchsia-200 p-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow">Register</button>
        </div>
    </div>
  </form>
  