<div class="container mx-auto grid grid-cols-1 content-start bg-blue-100 h-dvh relative">
  <div class="flex justify-center h-12 bg-gray-400 rounded-t-2xl">
    <app-header
      (selected)="onNavigate($event)"/>
  </div>
  <div
    *ngIf="router.url === '/'"
    class="flex content-center justify-center justify-self-center w-1/2 bg-gray-400 h-72 rounded-2xl mt-16 min-[390px]:mt-6">
    <app-login *ngIf="loadedFeature === 'login'"/>
    <app-register *ngIf="loadedFeature === 'register'"/>
  </div>
  <div class="absolute inset-x-0 bottom-0">
    <app-footer/>
  </div>
  <router-outlet></router-outlet>
</div>


