<form [formGroup]="resetForm" (ngSubmit)="resetPassword()" autocomplete="off" class="space-y-6
bg-gray-400 p-12 rounded-2xl shadow-2xl">

  <div class="grid grid-cols-1 sm:grid-cols-3 items-center">
    <label for="email" class="font-bold text-black">Email:</label>
    <input id="email" type="text" formControlName="email" required class="w-56 sm:col-span-2 rounded-md shadow">
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-3 items-center">
    <label for="password" class="font-bold text-black">Password:</label>
    <input id="password" type="password" formControlName="password" required class="w-56 sm:col-span-2 rounded-md shadow">
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4 items-center">
    <div class="sm:col-span-3 flex justify-center">
      <button type="submit" class="w-full bg-fuchsia-200 p-2 rounded-md border-2 border-black hover:bg-fuchsia-100 shadow">Register</button>
    </div>
  </div>
</form>
